In [1]:
# Tables are written from Scraper.py
from datetime import date
import os
import pandas as pd

non_remote = str(date.today())+".csv"
remote = "remote_"+non_remote

In [2]:
pd.read_csv("Listings/Dice/"+non_remote)

,Unnamed: 0,job_title,company,description
0,0,Account Manager II,Lumen,About Lumen Lumen connects the world. We are ...
1,1,Business Analyst - Remote,Randstad Digital,job summary: Our client has an immediate need...
2,2,Commercial Installation Technician,TEKsystems c/o Allegis Group,Description: Going to be an security/alarm/cab...
3,3,Data Analyst,Data Analytix LLC,"Data analyst Denver CO (Onsite), Fulltime Data..."
4,4,Data Analyst,Kforce Technology Staffing,RESPONSIBILITIES: Kforce is partnered with a c...
5,5,Data Quality Analyst,TEKsystems c/o Allegis Group,Data Quality Analyst will be responsible for e...
6,6,Data Scientist - Cybersecurity (BHJOB22048_730),ITmPowered,Data Scientist (AI/ML) - Medical Device Cybers...
7,7,Docucare Associate,Randstad Digital,job summary: Randstad is partnering with a mu...
8,8,IT Service Desk,Horizontal Talent,Overview: The Service Desk Technician will pro...
9,9,Information Systems Security Officer,Deloitte,Are you looking to elevate your cyber career? ...
10,10,Network Engineer III,TEKsystems c/o Allegis Group,Description: A large communications company i...
11,11,Paralegal ll-Denver,Access Data Consulting Corp,We are seeking a highly organized and detail-o...
12,12,Principal Engineer II,SPECTRUM,Spectrum's Product and Technology team creates...
13,13,Salesforce Developer Admin (BHJOB22048_566),ITmPowered,Salesforce Software Developer / Administrator ...
14,14,Security Analyst,Kforce Technology Staffing,RESPONSIBILITIES: Kforce is immediately seekin...
15,15,Security Controls Assessor,Deloitte,Are you looking to elevate your cyber career? ...
16,17,"Sr Director, Video Platforms",SPECTRUM,Spectrum's Product and Technology team creates...
17,18,Sr. Database Developer,Ledgent Technology,"Location: Downtown Denver, CO (parking provide..."
18,19,Sr. Salesforce Developer (BHJOB22048_736),ITmPowered,Senior Salesforce Developer Senior Salesforce...
19,20,Tier 2 Software Systems Engineer 24x7 - TS/SC...,Leidos,Description The National Solutions Group at Le...
20,21,Wireless Observability Engineer,Eliassen Group,"*Hybrid | Greenwood, CO* Our fortune 100 clie..."

In [3]:
pd.read_csv("Listings/Indeed/"+non_remote)

,Unnamed: 0,job_title,company,location,job_search,date_range
0,0,Asset Analyst and Scheduler,Lifestyle Communities,"Greenwood Village, CO 80112",SQL Analyst,0
1,1,Business Analyst,Western Union,"Hybrid remote in Denver, CO 80237",Data Analyst,0
2,2,Business Data Analyst,Advantis Global,"Denver, CO",Data Analyst,0
3,3,Business Management Analyst - Principal Level 3,Northrop Grumman,"Aurora, CO",Data Analyst,0
4,4,Business Systems Analyst III (Atlassian Tools),Sierra Space,"Broomfield, CO",SQL Analyst,0
5,5,Data Analyst - Level I (3765),"GVI, Inc.","Denver, CO",Data Analyst,0
6,6,Data Analyst - Must be in Lakewood/Denver CO,Clear Global Solutions LLC,"Lakewood, COLakewood, CO",SQL AnalystData Analyst,0
7,7,Data Analytics/Fraud Strategy Analyst,Inclusively,"Lone Tree, CO 80124Lone Tree, CO 80124",SQL AnalystData Analyst,0
8,8,Data Center Facility Operations Reliability En...,Meta,"Denver, CO 80202 (Union Station area)Denver, C...",Data ScientistData Engineer,0
9,9,Data Science Analyst,Advantis Global,"Remote in Denver, CORemote in Denver, CO",Data AnalystData Scientist,0
10,10,Data Scientist with AI/ML Experience (TS/SCI w...,DeNOVO Solutions,"Aurora, CO 80011 (Norfolk Glen area)",Data Scientist,0
11,11,GIS Analyst,Advantis Global,"Denver, CO",SQL Analyst,0
12,12,HCM Analyst,"Arapahoe County, CO","Littleton, CO 80120",Data Analyst,0
13,13,Risk Analyst,"OmniTRAX, Inc","Denver, CO 80206 (Cherry Creek area)",Data Analyst,0
14,16,Software Quality Assurance Analyst Lead - Enab...,Ent Credit Union,"Remote in Colorado Springs, CO 80921",SQL Analyst,0
15,17,Sr IT Systems Analyst - Commercial Operations,Xcel Energy,"Denver, CO 80202 (Union Station area)",SQL Analyst,0
16,18,Supply Chain Analyst,DISH,"Englewood, CO 80112",SQL Analyst,0
17,19,Tableau Developer Data Engineer (BHJOB22048_585),ITmPowered,"Denver, CO",Data Engineer,0

In [12]:
pd.read_csv("Listings/LinkedIn/"+non_remote)

,Unnamed: 0,job_title,company,job_search,location,date_range,link
0,0,Avantis/AVEVA Data Business Analyst/Project Ma...,Dice,Data Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3802936678/?eBP=CwEAAAGM9QginmBokRQ...
1,1,Business Intelligence Analyst Intern 4 months ...,Ceridian,Data Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3790447928/?eBP=CwEAAAGM9QginnCzRqs...
2,2,Data Analyst,Dice,Data Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3802940860/?eBP=CwEAAAGM9Qgin_SDlUS...
3,3,Data Center Facility Operations Reliability En...,Meta,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3802748083/?eBP=CwEAAAGM9QkKP01YZUQ...
4,4,Data Ops Infra Engineer,Dice,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3802938447/?eBP=CwEAAAGM9QkKPzzzuOe...
5,5,Data Ops Infra Engineer (No C2C),Dice,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3802937553/?eBP=CwEAAAGM9QkKP_VzaWR...
6,6,"Data Research Analyst, gt.school (Remote) - $6...",Crossover,Data AnalystData Analyst,"Centennial, Colorado | RemoteCentennial, Color...",0,/jobs/view/3801852720/?eBP=CwEAAAGM9Qginkv9jt_...
7,7,"Data Science / Machine Learning || San Antonio,TX",Dice,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3802936723/?eBP=CwEAAAGM9QiWuIvk2qq...
8,8,Data Scientist,Artemis Consultants,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3802918175/?eBP=CwEAAAGM9QiWuHynLVh...
9,9,"Data Scientist, gt.school (Remote) - $60,000/y...",Crossover,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3801845825/?eBP=CwEAAAGM9QiWuFT-62e...
10,10,Database Engineer (Vector),Dice,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3802941586/?eBP=CwEAAAGM9QkKP5YG8Qg...
11,11,EDI Analyst,Zotec Partners,SQL Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3798659447/?eBP=CwEAAAGM9QfCmzNfLx6...
12,12,ETL Architect or Data Architect,Dice,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3802129075/?eBP=CwEAAAGM9QiWuLr0iEM...
13,13,"ETL Data Architect in Denver, CO (Day 1 Onsite)",Dice,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3802502435/?eBP=CwEAAAGM9QiWuJR_mo0...
14,14,LEAD SAS Data Engineer,Dice,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3802942326/?eBP=CwEAAAGM9QkKP7dY3c2...
15,15,ML/ NLP/ Gen AI/ Engineer/ Data Scientist/ Ana...,BSL Consulting,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3802973684/?eBP=CwEAAAGM9QiWuNaC33B...
16,16,"Manager, Analytics Engineer - Biopharma",Pfizer,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3747517746/?eBP=CwEAAAGM9QkKPx8HQAS...
17,17,MicroStrategy Engineer (Location-Remote but ne...,Dice,Data Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3802937789/?eBP=CwEAAAGM9QginhdSHUy...
18,18,MicroStrategy Engineer-Remote,Dice,Data Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3802123949/?eBP=CwEAAAGM9QginlQz2km...
19,19,Programmer Analyst,"Spruce Technology, Inc.",SQL Analyst,"Centennial, Colorado | Remote",0,/jobs/view/3801536638/?eBP=CwEAAAGM9QfCm-rV1MJ...
20,24,Staff Cybersecurity Data Platform Engineer,Adobe,Data Engineer,"Centennial, Colorado | Remote",0,/jobs/view/3767919834/?eBP=CwEAAAGM9QkKP4HUOtp...
21,25,Tennis Data Scientist,Swish Analytics,Data Scientist,"Centennial, Colorado | Remote",0,/jobs/view/3770155476/?eBP=CwEAAAGM9QiWuL5Buqy...

In [ ]:
pd.read_csv("Listings/ZipRecruiter/"+non_remote)

In [7]:
pd.read_csv("Listings/Monster/"+non_remote)

,Unnamed: 0,job_title,company,job_search,location,date_range,link
0,0,Business Analyst,"The Computer Merchant, LTD.",SQL AnalystData Analyst,0,todaytoday,//www.monster.com/job-openings/business-analys...
1,1,Data Analyst,Kforce Technology,SQL AnalystData Analyst,"Denver, CODenver, CO",todaytoday,//www.monster.com/job-openings/data-analyst-de...
2,2,Mobile Engineer,CBRE,Data Engineer,"Denver, CO",today,//www.monster.com/job-openings/mobile-engineer...
3,3,Principal Software Engineer,Jobot,Data Engineer,"Denver, CO",today,//www.monster.com/job-openings/principal-softw...
4,4,Reliability Engineer for CMMS / Maintenance,HNI Corporation,Data Engineer,"Omaha-Council Bluffs, IA",today,//www.monster.com/job-openings/reliability-eng...
5,7,Site Reliability Engineer,iWorks Corporation,Data Engineer,0,today,//www.monster.com/job-openings/site-reliabilit...
6,8,Systems Engineer,SPECTRUM,Data Engineer,"Englewood, CO",today,//www.monster.com/job-openings/systems-enginee...
7,9,Systems Engineer III,SPECTRUM,Data Engineer,"Englewood, CO",today,//www.monster.com/job-openings/systems-enginee...

## Remote

In [21]:
pd.read_csv("Listings/Dice/"+remote)#.iloc[360:400]

,Unnamed: 0,job_title,company,description
360,394,Test Engineer,"IT-Strat, LLC","Information Technology Strategies, LLC. is a g..."
361,395,Time and Attendance Coordinator,The CSI Companies,Time and Attendance Coordinator CSI Companies...
362,396,UI UX Developer Lead,"DVI Technologies, Inc.",Role: UI/UX Developer Lead Location: (100 % Re...
363,397,UX Architect - REMOTE - Fulltime,Cyber Space Technologies LLC,"Job Title: UX Architect Location: Detroit, MI..."
364,398,UX Copywriter,Kforce Technology Staffing,RESPONSIBILITIES: Kforce has a client that is ...
365,399,Urgent Req : SQL Technical Architect : Remote...,Robustware,Position: SQL Technical Architect Location: Re...
366,401,Usability Researcher -Remote,Generis TEK Inc.,Please Contact : To discuss this amazing oppor...
367,402,Usability Researcher 2,Kforce Technology Staffing,RESPONSIBILITIES: Kforce has a client in Redmo...
368,403,User Experience Researcher (HCD),"Arch Systems, LLC",Job Overview: We are looking for an experience...
369,404,VMWare Admin (NBN),Kforce Technology Staffing,RESPONSIBILITIES: Kforce has a client that is ...
370,405,W2 - Cloud Architect - Operations Designer (S...,Tanson Corp,Description: The client is looking for: Cloud ...
371,406,W2--Security Engineer-HSM Production Support ...,Empower Professionals,Role: HSM Production Support Engineer Location...
372,407,W2:::Sr Oracle DBA::REMOTE::Need local to Ind...,Talendica LLC,"Hi, Title : Senior Oracle DBA for remote Loca..."
373,408,Web Application Developer,"UniMind Software Solutions,Inc","Web Application Developer Raleigh, NC 12 Month..."
374,409,Web Application Developer,V Group Inc,End Client: State of North Carolina Job Title...
375,410,Windows Server Administrator,"Vector Consulting, Inc",Our government client is looking for an experi...
376,411,Workday Configuration Consultant,Randstad Digital,job summary: Looking for a resource for our c...
377,412,Workday Product Owner,"Softcom, Inc.",Title: Workday Product Owner Location: Washing...
378,413,Workday Product Owner,TalTeam,Position : Workday Product Owner Location: Wa...
379,414,Workday Product Owner,The Evolvers Group,Title:Workday Product Owner Work Location: Was...
380,415,Workday Reporting Analyst,Infotree Service Inc.,Skills Required: 5+ years of experience config...
381,416,denodo architect,System Soft Technologies,System Soft Technologies is widely recognized ...
382,417,legal analyst,Encora,Interested can forward your resume to or repl...

In [6]:
pd.read_csv("Listings/Indeed/"+remote)

,Unnamed: 0,job_title,company,location,job_search,date_range
0,0,Asset Analyst and Scheduler,Lifestyle Communities,"Greenwood Village, CO 80112",SQL Analyst,0
1,1,Business Analyst,Western Union,"Hybrid remote in Denver, CO 80237",Data Analyst,0
2,2,Business Data Analyst,Advantis Global,"Denver, CO",Data Analyst,0
3,3,Business Management Analyst - Principal Level 3,Northrop Grumman,"Aurora, CO",Data Analyst,0
4,4,Data Analyst - Level I (3765),"GVI, Inc.","Denver, CO",Data Analyst,0
5,5,Data Analyst - Must be in Lakewood/Denver CO,Clear Global Solutions LLC,"Lakewood, COLakewood, CO",SQL AnalystData Analyst,0
6,6,Data Analytics/Fraud Strategy Analyst,Inclusively,"Lone Tree, CO 80124Lone Tree, CO 80124",SQL AnalystData Analyst,0
7,7,Data Center Facility Operations Reliability En...,Meta,"Denver, CO 80202 (Union Station area)",Data Scientist,0
8,8,Data Science Analyst,Advantis Global,"Remote in Denver, CORemote in Denver, CO",Data AnalystData Scientist,0
9,9,Data Scientist with AI/ML Experience (TS/SCI w...,DeNOVO Solutions,"Aurora, CO 80011 (Norfolk Glen area)",Data Scientist,0
10,10,GIS Analyst,Advantis Global,"Denver, CO",SQL Analyst,0
11,11,HCM Analyst,"Arapahoe County, CO","Littleton, CO 80120",Data Analyst,0
12,12,Risk Analyst,"OmniTRAX, Inc","Denver, CO 80206 (Cherry Creek area)",Data Analyst,0
13,15,Sr IT Systems Analyst - Commercial Operations,Xcel Energy,"Denver, CO 80202 (Union Station area)",SQL Analyst,0
14,16,Supply Chain Analyst,DISH,"Englewood, CO 80112",SQL Analyst,0
15,17,Tableau Developer Data Engineer (BHJOB22048_585),ITmPowered,"Denver, CO",Data Engineer,0

In [13]:
pd.read_csv("Listings/LinkedIn/"+remote)

,Unnamed: 0,job_title,company,job_search,location,date_range,link
0,0,Business Intelligence Analyst Intern (Undergra...,Centene Corporation,Data Analyst,remote | Remote,0,/jobs/view/3801874033/?eBP=CwEAAAGM9QoGJr5RK3h...
1,1,Business Intelligence Analyst Intern 4 months ...,Ceridian,Data Analyst,remote | Remote,0,/jobs/view/3790447928/?eBP=CwEAAAGM9QoGJgPhhne...
2,2,Data Scientist,Artemis Consultants,Data Scientist,remote | Remote,0,/jobs/view/3802918175/?eBP=CwEAAAGM9QqB8uLToMp...
3,3,"Data Scientist, gt.school (Remote) - $60,000/y...",Crossover,Data ScientistData Scientist,remote | Remoteremote | Remote,0,/jobs/view/3801846736/?eBP=CwEAAAGM9QqB8p-2aoo...
4,4,"Data and Analytics Finance Practitioner, Gartn...",Gartner,Data Analyst,remote | Remote,0,/jobs/view/3737872793/?eBP=CwEAAAGM9QoGJuZgdwE...
5,5,Flutter developer,Smart IT Frame LLC,Data Engineer,remote | Remote,0,/jobs/view/3798683501/?eBP=CwEAAAGM9Qr1czmz7lz...
6,6,ML/ NLP/ Gen AI/ Engineer/ Data Scientist/ Ana...,BSL Consulting,Data Scientist,remote | Remote,0,/jobs/view/3802973684/?eBP=CwEAAAGM9QqB8_Xhab7...
7,7,Oracle Customer Data Hub Business Analyst (US ...,Motorola Solutions,Data Analyst,remote | Remote,0,/jobs/view/3771193490/?eBP=CwEAAAGM9QoGJl1UARt...
8,8,Principal Software Engineer - Data Migration,Veeva Systems,Data Engineer,remote | Remote,0,/jobs/view/3800701808/?eBP=CwEAAAGM9Qr1ctpZRxc...
9,9,Principal Statistician,Doximity,Data Analyst,remote | Remote,0,/jobs/view/3784861479/?eBP=CwEAAAGM9QoGJv5II0h...
10,10,Programmer Analyst I,Cambia Health Solutions,SQL AnalystSQL AnalystSQL AnalystSQL AnalystSQ...,remote | Remoteremote | Remoteremote | Remoter...,0,/jobs/view/3801883654/?eBP=CwEAAAGM9QmCjX3Mjwi...
11,11,Salesforce Technical Architect - Remote,Perficient,Data Engineer,remote | Remote,0,/jobs/view/3798678286/?eBP=CwEAAAGM9Qr1crIffKB...
12,14,Staff Cybersecurity Data Platform Engineer,Adobe,Data EngineerData EngineerData Engineer,remote | Remoteremote | Remoteremote | Remote,0,/jobs/view/3767919834/?eBP=CwEAAAGM9Qr1csqP1u4...
13,15,Staff Data Engineer - Privacy,ClassDojo,Data Engineer,remote | Remote,0,/jobs/view/3732378589/?eBP=CwEAAAGM9Qr1c9mmRnQ...
14,16,Staff ML Scientist (Recommender Systems),Coursera,Data Scientist,remote | Remote,0,/jobs/view/3790392808/?eBP=CwEAAAGM9QqB8xzB-Qn...
15,17,Tennis Data Scientist,Swish Analytics,Data Scientist,remote | Remote,0,/jobs/view/3770155476/?eBP=CwEAAAGM9QqB8jFN8NE...
16,18,Workday Reporting and Analytics Principal Cons...,"Collaborative Solutions, LLC",Data Analyst,remote | Remote,0,/jobs/view/3756322183/?eBP=CwEAAAGM9QoGJlAc6Zv...

In [ ]:
pd.read_csv("Listings/ZipRecruiter/"+remote)

In [11]:
pd.read_csv("Listings/Monster/"+remote)

,Unnamed: 0,job_title,company,job_search,location,date_range,link
0,0,(Remote) Business Analyst-Defense & Energy Glo...,Vaco Technology,Data Analyst,"Baltimore, MD",today,//www.monster.com/job-openings/-remote-busines...
1,1,.NET Data Engineer,Jobot,Data ScientistData ScientistData ScientistData...,"Boston, MAFort Washington, PANorcross, GABosto...",todaytodaytodaytodaytodaytoday,//www.monster.com/job-openings/-net-data-engin...
2,2,.NET Release Engineer--2nd Shift,Jobot,Data ScientistData ScientistData EngineerData ...,"Las Vegas, NVPhiladelphia, PALas Vegas, NVPhil...",todaytodaytodaytoday,//www.monster.com/job-openings/-net-release-en...
3,3,.NET Web Developer,CAI,Data Engineer,"Allentown, PA",today,//www.monster.com/job-openings/-net-web-develo...
4,4,.Net/C# Developer,Genesis Corp./New Journey AI LLC,Data ScientistData Engineer,"Charlotte, NCCharlotte, NC",todaytoday,//www.monster.com/job-openings/-net-c-develope...
...,...,...,...,...,...,...,...
120,141,entry level data analyst / Data scientist/Pyth...,SynergisticIT,Data Analyst,"Tempe, AZ",today,//www.monster.com/job-openings/entry-level-dat...
121,142,junior Java Developer/ software programmer/Dat...,SynergisticIT,Data AnalystData ScientistData Engineer,"Irving, TXIrving, TXIrving, TX",todaytodaytoday,//www.monster.com/job-openings/junior-java-dev...
122,143,junior Java software programmer/Data Analyst/D...,SynergisticIT,Data Analyst,"Mountain Green, UT",today,//www.monster.com/job-openings/junior-java-sof...
123,144,junior Java software programmer/Data Analyst/D...,SynergisticIT,Data Analyst,"Aurora, CO",today,//www.monster.com/job-openings/junior-java-sof...
124,145,junior software programmer/Data Analyst/Data S...,SynergisticIT,Data Analyst,"Pittsburgh, PA",today,//www.monster.com/job-openings/junior-software...